* {
  margin: 0;
  padding: 0; 
  scroll-behavior: smooth;
}

:root {
  --goldenray: rgb(255,191,2);
  --ashwhite: rgb(216, 205, 194);
  --tangerineburn: rgba(255, 192, 2, 0.471);
  --seafoam: #30e8bf;
  --ashes: rgb(48, 44, 44);
}

.App {
  text-align: center;
}

body {
  background: url('../src/assets/Brown-background.jpeg') no-repeat center fixed;
  background-size: cover;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--goldenray);
}

body::-webkit-scrollbar-thumb {
  background: var(--ashwhite);
} 

main {
  margin-left: 5rem;
}

/* Splash Screen and Animation */
.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 200;
}

.splash img {
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 150px;
}

.fade-out {
  animation: fadeOut 5s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* .splash .disappear {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: -10;
  transition: all 0.7s;
} */

/* Navbar  */
.navbar {
  background-color: var(--tangerineburn);
  position: fixed;
  z-index: 1;
  transition: width 200ms ease;
}

.navbar:hover {
  width: 16rem;
}

.navbar:hover .link-text {
  display: block;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  list-style: none;
  height: 100%;
  padding: 0;
  margin: 0;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--seafoam);
  text-decoration: none;
}

.nav-link svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.nav-link:hover {
  background-color: rgba(228, 222, 222, 0.308);
  color: var(--goldenray);
  font-family: 'vonique64', 'Karantina', serif;
  font-weight: bold;
  transition: 200ms;
}

.nav-link .link-text:hover {
  font-family: 'vonique64', 'Karantina', serif;
}

.link-text {
  font-family: 'vonique92', 'Karantina', serif;
  font-weight: bold;
  display: none;
  margin-left: 1rem;
}

.nav-icon {
  filter: grayscale(100%) opacity(0.7);
  transition: 600ms;
  margin-left: 0.5em;
  width: 4rem;
}

.nav-icon:hover {
  filter: grayscale(0%) opacity(1);
}

.nav-item {
  width: 100%;
}

.nav-item:last-Child {
  Margin-top: auto;
}

#ca:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

/* Intro */
.intro h1 {
  color: rgb(255,191,2);
  font-weight: bold;
  font-size: 3em;
  font-family: 'vonique92', 'Karantina', serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5em;
}

.intro h3 {
  font-size: 2em;
  font-family: 'vonique64', 'Karantina', serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(216, 205, 194);
  padding-bottom: 15em;
  margin: 20px;
}

/* About */
#aboutTop {
  font-family: 'vonique92', 'Karantina', serif;
  font-size: 2em;
  word-spacing: 1rem;
  color: var(--ashwhite);
  text-decoration: overline;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.social-icons {
  margin: 1em;
  width: 3rem;
}

.social-icons:hover {
  color: var(--goldenray);
}

.prof-pic {
  /* margin-bottom: 4em;
  margin-left: 3em; */
}

.about {
  /* display: flex; */
  /* flex-direction: row; */
}

.about-summary {
  color: var(--ashwhite);
  margin-bottom: 5vh; 

}

.about-description p {
  color: var(--ashwhite);
  margin: 0 6em 6em 6em; 
  /* margin-top: 2em;
  margin-right: 2em; */
}

.about-description .about-btn {
  border: none;
  border-radius: 0.8em;
  font-family: 'vonique92', 'Karantina', serif;
  font-size: 1em;
  width: 16vw;
  height: 4vh;
  margin-left: 18px;
  background: var(--tangerineburn);
  color: var(--ashes);
}

.about-description .about-btn:hover {
  font-family: 'vonique64', 'Karantina', serif;
  background-color: var(--ashes);
  color: var(--seafoam);
  cursor: pointer;
}

.about-description a {
  text-decoration: none;
}

.about-description a:visited {
  color: var(--seafoam);
} 


/* Skills */
.skills-header {
  font-family: 'vonique92', 'Karantina', serif;
  color: var(--ashwhite);
  margin-top: 6em;
  font-size: 2em;
  text-decoration: overline;
}

.skills h5 {
  font-family: 'vonique92', 'Karantina', serif;
  font-size: 1.5em;
  color: var(--goldenray);
}

.skill-container {
  float: left;
  padding-left: 6em;
}


.skills {
  width: 300px;
  margin: 60px auto;
  list-style: none;
}

.skills img {
  display: flex;
  width: 6em;
}

.skills li {
  margin: 20px 0;
}

.bar {
  background:rgba(228, 222, 222, 0.308);
  display: block;
  height: 2px;
  border: 1px solid var(--tangerineburn);
  border-radius: 3px;
  box-shadow: 0 0 10px var(--goldenray);
  overflow: hidden;
}

.bar span {
  height: 2px;
  float: left;
  background:var(--ashwhite);
  
}

.htmlcss {
  width: 90%;
  animation: htmlcss 2s;
}

.javascript {
 width: 90%;
 animation: javascript 2s;
}

.nodejs {
  width: 90%;
  animation: nodejs 2s;
}

.reactjs {
  width: 90%;
  animation: reactjs 2s;
}

@keyframes htmlcss {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes nodejs {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes reactjs {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

.skill-container2 {
  display: block;
  float: left;
  padding-top: 1em;
  padding-left: 6em;
}

.skill-container2 .bar span {
  height: 2px;
  float: left;
  background:var(--ashwhite);
}

.express {
  width: 75%;
  animation: express 2s;
}

.postgresql {
  width: 80%;
  animation: postgresql 2s;
}

.firebase {
  width: 45%;
  animation: firebasse 2s;
}

@keyframes express {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

@keyframes postgresql {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes firebase {
  0% {
    width: 0%;
  }
  100% {
    width: 45%;
  }
}

.skill-container3 {
  float: left;
  padding-top: 1em;
  padding-left: 6em;
  margin-bottom: 8em;
}

.photoshop {
  width: 75%;
  animation: photoshop 2s;
}

.indesign {
  width: 90%;
  animation: indesign 2s;
}

.xd {
  width: 60%;
  animation: xd 2s;
}

.illustrator {
  width: 50%;
  animation: illustrator 2s;
}

.figma {
  width: 66%;
  animation: figma 2s;
}

.canva {
  width: 70%;
  animation: canva 2s;
}

@keyframes photoshop {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

@keyframes indesign {
  0% {
    width: 0%;
  }
  100% {
    width: 45%;
  }
}

@keyframes xd {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes illustrator {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes figma {
  0% {
    width: 0%;
  }
  100% {
    width: 66%;
  }
}

@keyframes canva {
  0% {
    width: 0%;
  }
  70% {
    width: 45%;
  }
}

/* Featured Work */
.feat h3 {
  font-family: 'vonique92', 'Karantina', serif;
  font-size: 2em;
  color: var(--ashwhite);
  text-decoration: overline;
  padding-top: 4em;
  padding-bottom: 2em;
}

.feat .details {
  color: var(--ashes);
  margin-bottom: 0.5em;
}

.featured-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.grid {
  display: grid;
  width: 90em;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  align-items: start;
}

.grid-item {
  background-color: var(--ashwhite);
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.card-content {
  padding: 3rem;
}

.card-header {
  font-family: 'vonique92', 'Karantina', serif;
  font-size: 1.5rem;
  color: var(--ashes);
  margin-bottom: 1.5rem;
}

.card-text {
  font-size: 1em;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: var(--ashes);
  margin-bottom: 2.5rem;
}

.card-btn {
  display: block;
  width: 10rem;
  padding: 1.5rem;
  font-size: 1em;
  text-align: center;
  color: var(--ashes);
  background-color: var(--tangerineburn);
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.card-btn span {
  margin-left: 1rem;
  transition: 0.2s;
}

.card-btn:hover, .card-btn:active {
  background-color: var(--ashes);
  color: var(--ashwhite);
}

.card-btn:hover span, card-btn:active span {
  margin-left: 1.5rem;
}


.card-btn a {
  text-decoration: none;
}

.card-btn a:visited {
  background-color: var(--ashes);
  color: var(--seafoam);
}

/* Design */

.design-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.design h4 {
  font-family: 'vonique92', 'Karantina', serif;
  font-size: 2em;
  text-decoration: overline;
  color: var(--ashwhite);
  padding-top: 6em;
  padding-bottom: 2em;
}

.box a {
  text-decoration: none;
}

.box {
  display: block;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: var(--ashwhite);
  width: 300px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  /* position: absolute; */
  margin: 1em;
  /* margin-left: 16rem; */
  left: 50%;
  transform: translate(-5%);
}


.item-a {
  list-style: none;
}

.slide-img {
  height: 450px;

}

.slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

.detail-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  font-family: 'vonique92', 'Karantina', serif;
}

.type {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.type a {
  color: var(--ashes);
  margin: 5px 0px;
  letter-spacing: 0.5px;
  padding-right: 8px;
}

.text span {
  color: rgba(26, 26, 26, 0.5);
}

.more {
  color: var(--ashes);
}

.overlay {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100.5%);
  width: 100%;
  height: 100%;
  background-color: rgba(255, 184, 51, 0.562);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.DevAdd {
  width: 160px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(216, 205, 194);
  color: var(--ashes);
  letter-spacing: 1px;
  font-family: 'vonique64', 'Karantina', serif;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.DevAdd:hover {
  color: var(--seafoam);
  background-color: var(--ashes);
  transition: all ease 0.3s;
}

.overlay {
  visibility: hidden;
}

.slide-img:hover .overlay {
  visibility: visible;
  animation: fade 0.5s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



/* Mobile and Small Screens Nav */
 @media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .navbar-nav:hover {
    margin-left: 2.5rem;
  }

  .nav-link:hover {
    background-color: transparent;
  }

  .nav-link {
    justify-content: center;
  }

  .nav-icon {
    width: 2.5em;
  }

  main {
    margin: 0;
  }

  .navbar:hover {
    background-color: transparent;
  }

  .navbar:hover .link-text{
    width: 100vw;
    display: none;
  }

 .prof-pic {
    width: 20rem;
  }

  .about-btn {
    margin-top: 2em;
  }
 }

 /* Animation */
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

 /* Large Screens */
 @media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover .link-text {
    display: inline-block;
    transition: opacity 600ms;
  }

  .skillbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

}

/* Small Screens */
@media (max-width: 576px) {
 .skills {
  width: 200px;
 }
}

